body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h1 {
  font-size: 10vh !important;
  line-height: 12vh !important;
  color: #2c2268;
  letter-spacing: 0.08vh;
  position: relative;
  font-family: "Montserrat", sans-serif;
  font-weight: 600 !important;
}

.flex1 {
  display: flex;
  flex-direction: column;
  padding-top: 10vh;
  padding-left: 30vh;
}

p {
  font-family: "Open Sans", sans-serif !important;
  color: #646599;
  font-size: 3.4vh;
}

html {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.pawfect {
  color: #3e6915;
  font-size: 4vh !important;
  font-family: "Montserrat", sans-serif !important;
  margin-left: 1vh;
  font-weight: 600 !important;
}

.floatr {
  display: flex;
  flex-direction: row;
  /* margin-left: 40vw; */
  /* margin-top: 4.3vh; */
}

.floatr > a {
  font-weight: 600 !important;
  font-size: 2.3vh;
  letter-spacing: 0.8vh;
  color: #3e6915c4;
  margin-right: 1vw;
}

.floatr > a:hover {
  color: #3e6915;
  background: white;
  border-bottom: 3px solid #3e6915;
  border-right: 3px solid #3e6915;
  box-shadow: 5px 6px #3e6915b4;
  position: relative;
  transition: all 0.1s ease-in-out;
}
/* 
.nav-link:hover {
  text-decoration: none;
  text-decoration: none; */

.works {
  padding-top: 6vh;
  font-family: "Open Sans", sans-serif;
  color: #8081b1;
  display: inline;
}

.upper {
  text-transform: uppercase;
  font-size: 2.2vh;
  letter-spacing: 0.9vh;
}

.colorgreen {
  color: #3e6915b4 !important;
}
.header {
  font-family: "Open Sans", sans-serif;
  color: #2c2268;
  font-weight: bold;
}

.header:hover {
  border-right: 8px solid rgba(63, 107, 169, 0.3);
}

.another {
  color: #9b9b9bfd;
}

.higher {
  margin-top: 4vh;
}

.vetted {
  color: hsla(249, 54%, 20%, 0.7);
}

.mt {
  margin-top: 16vh;
}

.btnfx {
  color: #3e6915;
  background: none;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  border-bottom: 3px solid #e0cf36;
  border: 3px solid #e0cf36;
  color: #362eb3;
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: 4px;

  padding: 8px 15px;
}

.btnfx:hover {
  box-shadow: 8px 8px #e6db7f;
  transition: all 0.1s ease-in-out;
}

.fixedwh {
  width: 22vw;
  height: 50vh;
  border-radius: 7px !important;
  /* box-shadow: 16px 20px 18px -13px rgba(163, 163, 163, 0.89); */
  /* box-shadow: 5px 5px 10px rgba(163, 163, 163, 0.39); */
  box-shadow: 2px 1px 16px 0px rgba(124, 124, 124, 0.4);
}
.btnfx-red {
  background: none;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  border-bottom: 3px solid #be1616;
  border: 3px solid #be1616;
  color: #be1616;
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: 4px;

  padding: 8px 15px;
}

.btnfx-red:hover {
  box-shadow: 8px 8px #f54646;
}

.btnfx-green {
  background: none;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  border-bottom: 3px solid #3e6915;
  border: 3px solid #3e6915;
  color: #3e6915;
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: 4px;

  padding: 8px 15px;
}

.btnfx-green:hover {
  box-shadow: 8px 8px #3e6915;
  transition: all 0.1s ease-in-out;
}

.background {
  height: 103vh;
}

.btnfx-blue {
  background: none;
  font-family: "Open Sans", sans-serif;
  font-weight: 800;
  color: #2c2268;
  border: none;
  text-transform: uppercase;
  font-size: 3.5vh;
  letter-spacing: 4px;
  background-color: rgb(90, 226, 250);
  padding: 8px 15px;
}

.btnfx-blue:hover {
  box-shadow: 8px 8px rgb(178, 241, 252);
}

.none {
  background: none !important;
}
.packages {
  font-size: 6.7vh !important;
  line-height: 1vh !important;
  letter-spacing: 0.08vh;
  margin-top: 8vh;
  font-weight: 400 !important;
  font-family: "Open Sans", sans-serif;
  color: #8081b1;
}

.header2 {
  font-family: "Open Sans", sans-serif;
  color: #2c2268;
  font-weight: bold;
  font-size: 6.2vh;
  text-shadow: 2px 2px hsl(239, 24%, 80%);
}

.cost {
  text-transform: uppercase;
  font-size: 2.2vh;
  letter-spacing: 0.9vh;
  padding-top: 6vh;
  font-family: "Open Sans", sans-serif;
  color: #8081b1;
  display: inline;
}

.booking {
  font-weight: 400;
  font-family: "Montserrat", sans-serif !important;
  color: #3e6915;
  font-size: 6vh;
}

.red {
  color: 3e6915;
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
}
.forms {
  font-family: "Montserrat", sans-serif;
  color: #3e6915;
}

.size {
  font-size: 18px;
}

.red-bg {
  background: url(./images/paws.jpg);
}

.red-bg2 {
  background: url(./images/paws.jpg);
  height: 100vh;
  overflow: hidden;
}

.swal-icon {
  background-image: url(./images/paw.png) !important;
}

.ml {
  margin-left: 20vh;
  margin-top: -2vh;
}

thead {
  color: #3e6915;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 14px;
}

td {
  font-family: "Open Sans", sans-serif;
}

tr:hover {
  background-color: rgba(249, 255, 161, 0.3);
}

.reg {
  margin-top: -50vh;
}

/* dog */

.cabezota {
  position: absolute;
  width: 30px;
  height: 30px;
  background: red;
  transform: rotate(12deg);
  -moz-transform: rotate(12deg);
  -webkit-transform: rotate(12deg);
  transform-origin: 0% 100%;
  margin: 225px 370px;
  animation: gira 3s alternate infinite;
  -moz-animation: gira 3s alternate infinite;
  -webkit-animation: gira 3s alternate infinite;
}
.todo {
  position: absolute;
  margin: 30px 90px;
}
.cabeza {
  position: absolute;
  width: 121px;
  height: 121px;
  border-radius: 100%;
  background: #3f5967;
  margin: -102px -33px;
}
.cabeza::before {
  content: "";
  position: absolute;
  width: 132px;
  height: 102px;
  border-radius: 100%;
  background: #3f5967;
  margin: 45px -5px;
}

.cabeza3 {
  position: absolute;
  width: 102px;
  height: 102px;
  border-radius: 100%;
  background: #48636f;
  margin: 9px 10px;
}
.cabeza3::before {
  content: "";
  position: absolute;
  width: 112px;
  height: 80px;
  border-radius: 100%;
  background: #48636f;
  margin: 50px -5px;
}
.ojos {
  position: absolute;
  width: 21px;
  height: 30px;
  border-radius: 100%;
  background: #121d21;
  margin: 60px 21px;
}

.ojos::before {
  content: "";
  position: absolute;
  width: 21px;
  height: 30px;
  border-radius: 100%;
  background: #121d21;
  margin: 1px 60px;
}
.iris {
  position: absolute;
  width: 9px;
  height: 9px;
  border-radius: 100%;
  background: white;
  margin: 3px 6px;
}
.iris::before {
  content: "";
  position: absolute;
  width: 9px;
  height: 9px;
  border-radius: 100%;
  background: white;
  margin: 1px 60px;
}
.nariz3::after {
  content: "";
  position: absolute;
  width: 7px;
  height: 5px;
  border-radius: 100%;
  background: white;
  margin: 7px 5px;
}
.nariz {
  position: absolute;
  width: 35px;
  height: 30px;
  border-radius: 100%;
  background: #648999;
  transform: rotate(-35deg);
  -moz-transform: rotate(-35deg);
  -webkit-transform: rotate(-35deg);
  margin: 99px 30px;
}
.nariz::before {
  content: "";
  position: absolute;
  width: 35px;
  height: 30px;
  border-radius: 100%;
  background: #648999;
  transform: rotate(70deg);
  -moz-transform: rotate(70deg);
  -webkit-transform: rotate(70deg);
  margin: 19px 25px;
}
.nariz3 {
  position: absolute;
  width: 25px;
  height: 21px;
  border-radius: 100%;
  background: #121d21;

  margin: 90px 47px;
}
.ore {
  position: absolute;
  margin: 90px 300px;
}
.orejas {
  position: absolute;
  width: 0;
  height: 0;
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
  border-bottom: 70px solid #586e7b;
  margin: -152px -50px;
  transform: rotate(-12deg);
  -moz-transform: rotate(-12deg);
  -webkit-transform: rotate(-12deg);
}
.orejitas {
  position: absolute;
  width: 0;
  height: 0;
  border-left: 21px solid transparent;
  border-right: 21px solid transparent;
  border-bottom: 55px solid #2d4149;
  margin: -132px -21px;
}
.orejas::before {
  content: "";
  display: block;
  width: 30px;
  height: 30px;
  border-radius: 30px 30px 0 0;
  background: #586e7b;
  transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
  margin: 60px -31px;
}

.orejas3 {
  position: absolute;
  width: 0;
  height: 0;
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
  border-bottom: 70px solid #586e7b;
  margin: -142px 50px;
  transform: rotate(12deg);
  -moz-transform: rotate(12deg);
  -webkit-transform: rotate(12deg);
}
.orejas3::before {
  content: "";
  display: block;
  width: 30px;
  height: 30px;
  border-radius: 0 0 30px 30px;
  background: #586e7b;
  transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
  margin: 60px 1px;
}
.orejitas3 {
  position: absolute;
  width: 0;
  height: 0;
  border-left: 21px solid transparent;
  border-right: 21px solid transparent;
  border-bottom: 55px solid #2d4149;
  margin: -132px -21px;
}
.body {
  position: absolute;
  width: 155px;
  height: 142px;
  border-radius: 162px 30px 162px 162px;
  background: #556c7a;
  margin: 255px 261px;
}
.canasta {
  position: absolute;
  border-top: 152px solid #9de3fd;
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
  height: 0;
  width: 212px;
  margin: 295px 182px;
}
.canasta::before {
  content: "";
  display: block;
  width: 281px;
  height: 21px;
  border-radius: 21px;
  background: #d4f0f9;
  border: 1px solid gray;
  margin: -157px -39px;
}
.canasta::after {
  content: "";
  display: block;
  width: 231px;
  height: 21px;
  border-radius: 21px;
  background: #d4f0f9;
  border: 1px solid gray;
  margin: 271px -12px;
}
.leg {
  position: absolute;
  width: 70px;
  height: 25px;
  border-radius: 12px;
  background: #556c7a;
  margin: 12px 142px;
}
.leg::before {
  content: "";
  display: block;
  width: 27px;
  height: 40px;
  border-radius: 0 0 12px 12px;
  background: #556c7a;
  margin: 9px 43px;
}
.leg3 {
  position: absolute;
  width: 75px;
  height: 25px;
  border-radius: 12px;
  background: #2d4149;
  margin: 261px 403px;
}
.leg3::before {
  content: "";
  display: block;
  width: 27px;
  height: 40px;
  border-radius: 0 0 12px 12px;
  background: #2d4149;
  margin: 9px 48px;
}
.cola {
  position: absolute;
  width: 90px;
  height: 90px;
  border-radius: 100%;
  border-bottom: 30px solid #556c7a;
  margin: -85px -27px;
  transform: rotate(43deg);
  -moz-transform: rotate(43deg);
  -webkit-transform: rotate(43deg);
  animation: gira3 0.3s alternate infinite;
  -moz-animation: gira3 0.3s alternate infinite;
  -webkit-animation: gira3 0.3s alternate infinite;
}

@keyframes gira {
  0% {
    transform: rotate(6deg);
    -moz-transform: rotate(6deg);
    -webkit-transform: rotate(6deg);
  }
  100% {
    transform: rotate(-6deg);
    -moz-transform: rotate(-6deg);
    -webkit-transform: rotate(-6deg);
  }
}
@-moz-keyframes gira {
  0% {
    transform: rotate(6deg);
    -moz-transform: rotate(6deg);
    -webkit-transform: rotate(6deg);
  }
  100% {
    transform: rotate(-6deg);
    -moz-transform: rotate(-6deg);
    -webkit-transform: rotate(-6deg);
  }
}
@-webkit-keyframes gira {
  0% {
    transform: rotate(6deg);
    -moz-transform: rotate(6deg);
    -webkit-transform: rotate(6deg);
  }
  100% {
    transform: rotate(-6deg);
    -moz-transform: rotate(-6deg);
    -webkit-transform: rotate(-6deg);
  }
}

@keyframes gira3 {
  0% {
    transform: rotate(43deg);
    -moz-transform: rotate(43deg);
    -webkit-transform: rotate(43deg);
  }
  100% {
    transform: rotate(33deg);
    -moz-transform: rotate(33deg);
    -webkit-transform: rotate(33deg);
  }
}
@-moz-keyframes gira3 {
  0% {
    transform: rotate(43deg);
    -moz-transform: rotate(43deg);
    -webkit-transform: rotate(43deg);
  }
  100% {
    transform: rotate(33deg);
    -moz-transform: rotate(33deg);
    -webkit-transform: rotate(33deg);
  }
}
@-webkit-keyframes gira3 {
  0% {
    transform: rotate(43deg);
    -moz-transform: rotate(43deg);
    -webkit-transform: rotate(43deg);
  }
  100% {
    transform: rotate(33deg);
    -moz-transform: rotate(33deg);
    -webkit-transform: rotate(33deg);
  }
}

/* dog 2 */

/* body,
html {
  width: 40%;
  height: 100%;
} */
.container {
  /* width: auto;
  height: auto; */
  padding-top: 80px;
  margin-left: 40vw;
  /* display: flex;
  flex-direction: row; */
  /* justify-content: flex-start;
  align-items: flex-end; */
}
.dog {
  width: 160px;
  height: 186px;
  position: relative;
}
@keyframes head {
  0% {
    transform: rotate(0deg);
  }
  30% {
    transform: rotate(0deg);
  }
  40% {
    transform: rotate(-20deg);
  }
  80% {
    transform: rotate(-20deg);
  }
  90% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
.dog-head {
  width: 100px;
  height: 90px;
  position: absolute;
  z-index: 5;
  top: 30px;
  left: calc(50% - 50px);
  background-color: #efc092;
  border-radius: 50%;
  animation: head 6s linear infinite;
}
.dog-head:before,
.dog-head:after {
  content: "";
  width: 79px;
  height: 50px;
  position: absolute;
  z-index: 5;
  top: 44px;
  background-color: #efc092;
  border-radius: 50%;
}
.dog-head:before {
  left: -7px;
  transform: rotate(50deg);
}
.dog-head:after {
  right: -7px;
  transform: rotate(-49deg);
}
.dog-mouth {
  width: 60px;
  height: 35px;
  background-color: #fee2d2;
  position: absolute;
  bottom: -15px;
  left: 20px;
  z-index: 10;
  border-radius: 50%;
}
.dog-mouth:after {
  content: "";
  width: 10px;
  height: 40px;
  background-color: #fee2d2;
  position: absolute;
  bottom: 30px;
  left: 24px;
  z-index: 10;
  border-radius: 20px;
}
.dog-nose {
  width: 16px;
  height: 10px;
  position: absolute;
  top: 8px;
  left: calc(50% - 8px);
  background-color: #000;
  border-radius: 50%;
}
@keyframes tongue {
  0% {
    height: 10px;
  }
  30% {
    height: 10px;
  }
  40% {
    height: 20px;
  }
  60% {
    height: 10px;
  }
  80% {
    height: 20px;
  }
  90% {
    height: 10px;
  }
  100% {
    height: 10px;
  }
}
.dog-tongue {
  width: 20px;
  height: 10px;
  position: absolute;
  top: 24px;
  left: calc(50% - 10px);
  background-color: #f4a4ad;
  border-radius: 0 0 10px 10px;
  animation: tongue 4s linear infinite;
}
.dog-eyes {
  width: 10px;
  height: 16px;
  background-color: #000;
  position: absolute;
  top: 52px;
  left: 28px;
  border-radius: 50%;
  z-index: 10;
  box-shadow: 33px 0px 0px #000;
}
.dog-eyes:after {
  content: "";
  width: 92px;
  height: 50px;
  position: absolute;
  top: -50px;
  left: -24px;
  background-color: #efc092;
  border-radius: 50%;
}
.dog-ears {
  width: 80px;
  height: 50px;
  position: absolute;
  z-index: 0;
  top: -2px;
  border-radius: 150px 0 150px 0;
  background-color: #efc092;
}
.dog-ears:after {
  content: "";
  width: 50px;
  height: 30px;
  position: absolute;
  z-index: 0;
  top: 8px;
  left: 20px;
  border-radius: 150px 0 150px 0;
  transform: rotate(-176deg);
  background-color: #fee2d2;
}
.ears-left {
  left: -22px;
  transform: rotate(-105deg);
}
.ears-right {
  right: -22px;
  transform: rotate(-22deg);
}
.dog-body {
  width: 54px;
  height: 60px;
  position: absolute;
  top: 120px;
  left: calc(50% - 35px);
  background-color: #d58b4e;
  border-radius: 49px 0 0 20px;
}
.dog-body:before {
  content: "";
  width: 50px;
  height: 60px;
  position: absolute;
  top: 3px;
  left: calc(50% - 17px);
  background-color: #efbf8e;
  border-radius: 100px 100px 0 0;
}
.dog-body:after {
  content: "";
  width: 15px;
  height: 30px;
  position: absolute;
  top: 32px;
  left: 28px;
  background-color: #d58b4e;
  border-radius: 100px 100px 0 0;
}
.dog-foot {
  width: 20px;
  height: 13px;
  position: absolute;
  z-index: 5;
  bottom: -3px;
  left: 8px;
  background-color: #fce2d3;
  border-radius: 10px 10px 0 0;
  box-shadow: 33px 0 0 #fce2d3;
}
@keyframes tail {
  0% {
    transform: rotate(-47deg);
  }
  100% {
    transform: rotate(-57deg);
  }
}
.dog-tail {
  width: 10px;
  height: 50px;
  position: absolute;
  top: 120px;
  left: calc(50% - 45px);
  background-color: #ecc093;
  transform: rotate(-47deg);
  border-radius: 10px 0 0 0px / 50px 0 0 0px;
  animation: tail 0.08s infinite alternate;
}
.ball {
  width: 30px;
  height: 30px;
  position: absolute;
  bottom: 0;
  right: 0px;
  border-radius: 50%;
  background-color: #6e64f0;
}
